<html>
    <head>
        <title>🌱My Nursery</title>
        <style>
            #div1{
                width:500px;
                height:500px;
                border:2px solid black;
                margin-left:700px;
                margin-top:-550px;
                border-radius:0px 20px;
                background-color:lightyellow;
            }
        </style>
    </head>
<body bgcolor="white">
    <h1 align="center">🌱Plant Information</h1>
    <video controls autoplay width="600" height="600" style="border:2px solid black;box-shadow:2px 2px 2px green;border-radius:10px;background-color:lightyellow;">
        <source src="/static/care.mp4" type="video/mp4"></video>
        <div id="div1">
                <h2 align="center" >📝<u>Plant Care Tips</u></h2><br>
                <p>👉&nbsp;&nbsp;<b>Water plants regularly, but avoid overwatering to prevent root rot.<br><br>

                    👉&nbsp;&nbsp;Ensure plants receive adequate sunlight according to their needs.<br><br>

                    👉&nbsp;&nbsp;Use well-draining soil to keep roots healthy.<br><br>

                    👉&nbsp;&nbsp;Remove dead or yellowing leaves to encourage new growth.<br><br>

                    👉&nbsp;&nbsp;Fertilize plants periodically for healthy development.<br><br>

                   👉&nbsp;&nbsp;Protect plants from extreme weather conditions.<br><br>

                    👉&nbsp;&nbsp;Keep indoor plants away from direct heat sources or cold drafts.<br><br>

                    👉&nbsp;&nbsp;Prune plants to maintain shape and promote flowering.<br><br>

                    👉&nbsp;&nbsp;Check for pests and treat promptly to avoid infestations.</b></p>
        </div>
</body>
</html>